body{
    background:linear-gradient(120deg,#2980b9,#8e44ad)
}
section{
    font-family: "Cairo", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 96vh;
}

.container{
    width: 400px;
    height:400px;
    background-color:white;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    position: relative;
    background-color:#8080ff;
}

.container h1{
    border-bottom: 1px solid silver;
    color:#99004d;
}

.btn{
    width:90%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
#t:focus , #t{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom:1px #0000ff solid;
    outline: none;
    padding-left: 5px;
    background-color: transparent;
    color:  #206592;
    width:70%;
    font-size: 20px;
}
#RW{
    text-align: center;
}

.btn:hover{
    background-color: beige;
}
.btn:active{
    background-color: darkgoldenrod;
    color:white;
}